@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS mine */

.width-f-available {
    width: -webkit-fill-available !important;
}

/* .datepicker-input::-webkit-calendar-picker-indicator {
    background-color: pink;
} */

.accordion-button {
    background-color: transparent !important;
}

/* input {
  color-scheme: dark;
} */

code {
    color: #7dc523 !important;
}

.dropdown-item {
    border-radius: 1.5rem;
}

.dropdown-item:hover {
    background-color: #40d9f1 !important;
    color: rgb(30 41 59 / var(--tw-bg-opacity)) !important;
}

.invisibleScroll {
    scrollbar-width: none;
}

.invisibleScroll::-webkit-scrollbar {
    display: none;
}

.popover-arrow {
    display: none !important;
}

.tooltip-clean {
    position: fixed;
    top: 0;
    right: 0;
}

.tooltip-clean .tooltip-arrow {
    display: none !important;
}

.tooltip-clean .tooltip-inner {
    background-color: transparent !important;
}

.bs-popover-end {
    background-color: transparent !important;
    border-color: transparent !important;
}

.bs-popover-bottom {
    background-color: transparent !important;
    border-color: transparent !important;
    /* scrollbar-width: none;
    display: none; */
}

.bs-popover-top {
    background-color: transparent !important;
    border-color: transparent !important;
}

@media screen and (max-width: 640px) {
    .sideBar {
        flex-direction: row;
    }
}

@media screen and (max-width: 640px) {
    .pageBase {
        flex-direction: column;
    }
}

.page-item .page-link {
    border-radius: 9999px !important;
    aspect-ratio: 1 / 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1rem;
}

/* calendar */

.react-calendar__tile {
    border-radius: 9999px;
    aspect-ratio: 1 / 1;
    height: 100%;
    font-size: 0.75rem;
    line-height: 1rem;
    /*padding: -0.25rem !important;
    margin: 0.25rem !important;
    padding: 0 !important;
    flex: 1 1 10% !important; */
}

.react-daterange-picker__calendar {
    z-index: 10 !important;
}

.css-13cymwt-control {
    border: 0 !important;
}

.css-t3ipsp-control {
    border: 0 !important;
    box-shadow: none !important;
}

.css-3w2yfm-ValueContainer {
    padding: 0 !important;
}

.css-1fdsijx-ValueContainer {
    padding: 0 !important;
}

/* .react-calendar {
    background-color: gray;
    text-align: center;
}

.react-daterange-picker__wrapper {
    background-color: green;
    display: flex;
    justify-content: space-evenly;
}

.react-daterange-picker__inputGroup__input {
    width: auto !important;
}

.react-calendar__navigation {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
} */

.react-calendar {
    border: 0px !important;
}

abbr {
    font-size: 1rem;
}

.react-calendar__navigation__arrow {
    border-radius: 100%;
}

.css-1nmdiq5-menu {
    padding: 1rem;
    overflow: auto;
    padding: 1.5rem;
    border-radius: 1.5rem !important;
    border-color: #e5e7eb !important;
    border-width: 0 !important;
    z-index: 10 !important;
}

.css-18fyw6m-MenuList{
    scrollbar-width: none;
}

.css-18fyw6m-MenuList::-webkit-scrollbar {
    display: none;
}

.css-1n6sfyn-MenuList {
    scrollbar-width: none;
}

.css-1n6sfyn-MenuList::-webkit-scrollbar {
    display: none;
}

.css-d7l1ni-option {
    border-radius: 1.5rem;
    background-color: transparent !important;
}

.css-d7l1ni-option:hover {
    background-color: #40d9f1 !important;
}

.css-10wo9uf-option {
    border-radius: 1.5rem;
}

.css-tr4s17-option {
    border-radius: 1.5rem;
}

.css-1p3m7a8-multiValue {
    border-radius: 9999px !important;
    align-items: center;
    padding: 0px 2px 0px 2px;
}

.css-12a83d4-MultiValueRemove {
    border-radius: 9999px !important;
    aspect-ratio: 1 / 1;
    height: 100%;
}

/* .react-calendar__navigation__label {
    border-radius: 100%;
} */

.nav-item .nav-link {
    border-radius: 100% !important;
    padding-right: 8px;
    padding-left: 8px;
    margin: 0.5rem !important;
}

.nav-link.active {
    background-color: #7dc523 !important;
    color: white !important;
}

/* .nav-item .nav-link {
    border-radius: 100% !important;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    border-width: 0px !important;
    margin: 0.5rem !important;
}

.nav-link.active {
    background-color: #7dc523 !important;
    color: white !important;
} */

/* bootstrap */

button .dropdown-toggle::after {
  content: none !important;
}

button .dropdown-toggle {
  background: transparent !important;
  border: 0 !important;
  padding: 5px 0 5px 0 !important;
}

.icon-dropdown .dropdown-toggle::after {
    content: none !important;
}

.icon-dropdown-menu {
    background: transparent !important;
    border: 0 !important;
}

/* circle */

.circle {
    /* width: 300px;
    height: 300px; 
    background: rgba(0, 0, 0, 0.2);*/
    display: inline-flex;
    border-radius: 50%;
  }
  
  .menu {
    --d:140px; /* distance from the center */
    --i:30deg; /* the increment */
    list-style-type: none;
    padding: 0;
    display:grid; /* use grid */
    margin:auto; /* center the menu with all the items */
  }
  
  .menu li {
    grid-area:1/1; /* all of them at the same position (they overlap) */
    /* we rotate then translate to the edge then rotate again using the opposite rotation */
    transform:rotate(var(--r)) translateX(var(--d)) rotate(calc(-1*var(--r)));
  }

  /* adjust the angle for each icon */
.menu li:nth-child(1) { --r: calc( 1*var(--i))} 
.menu li:nth-child(2) { --r: calc( 2*var(--i))} 
.menu li:nth-child(3) { --r: calc( 3*var(--i))} 
.menu li:nth-child(4) { --r: calc( 4*var(--i))} 
.menu li:nth-child(5) { --r: calc( 5*var(--i))} 
.menu li:nth-child(6) { --r: calc( 6*var(--i))} 
.menu li:nth-child(7) { --r: calc( 7*var(--i))} 
.menu li:nth-child(8) { --r: calc( 8*var(--i))} 
.menu li:nth-child(9) { --r: calc( 9*var(--i))} 
.menu li:nth-child(10){ --r: calc(10*var(--i))} 
.menu li:nth-child(11){ --r: calc(11*var(--i))} 
.menu li:nth-child(12){ --r: calc( 0*var(--i))} 

/* .menu li a {
  display: block;
}
.menu li a img {
  width: 50px;
} */

/* rotation */

.rot-45 {
    -webkit-transform: rotate3d(0, 1, 0, 30deg);
    transform: rotate3d(0, 1, 0, 30deg);
}

.rot-minus-45 {
    -webkit-transform: rotate3d(0, 1, 0, -5deg);
    transform: rotate3d(0, 1, 0, -5deg);
}

.rot-minus-40 {
    -webkit-transform: rotate3d(0, 1, 0, -5deg);
    transform: rotate3d(0, -1, 0, -5deg);
}

/* animations */

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.swing-in-right-bck {
    -webkit-animation: swing-in-right-bck 1.6s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: swing-in-right-bck 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        both;
}

@-webkit-keyframes swing-in-right-bck {
    0% {
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}
@keyframes swing-in-right-bck {
    0% {
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}

.swing-in-left-bck {
    -webkit-animation: swing-in-left-bck 1.6s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 3s both;
    animation: swing-in-left-bck 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        3s both;
}

@-webkit-keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
}
@keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
}

.swing-in-top-bck {
	-webkit-animation: swing-in-top-bck 1.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-bck 1.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-bck {
    0% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-bck {
    0% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }  

  .slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
	        animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
}

@-webkit-keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  .slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
	        animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
}

@-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }  

  .slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }  

  .slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

.rotate-center:hover {
	-webkit-animation: rotate-center 1s ease-in-out alternate ;
	        animation: rotate-center 1s ease-in-out alternate ;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-30deg);
              transform: rotate(-30deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    60% {
        -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
      }
      80% {
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
      }
      90% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
      }
      100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
  }

  /* all cases foot animation */

  .rotate-in-2-fwd-ccw {
    -webkit-animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes rotate-in-2-fwd-ccw {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-fwd-ccw {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }

  .rotate-in-2-fwd-ccw1 {
    -webkit-animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
            animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  }

  @-webkit-keyframes rotate-in-2-fwd-ccw1 {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-fwd-ccw1 {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }

  .rotate-in-2-fwd-ccw2 {
    -webkit-animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
            animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  }

  @-webkit-keyframes rotate-in-2-fwd-ccw2 {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-fwd-ccw2 {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }

  .rotate-in-2-fwd-ccw3 {
    -webkit-animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
            animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
  }

  @-webkit-keyframes rotate-in-2-fwd-ccw3 {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-fwd-ccw3 {
    0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
              transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }

  .rotate-in-2-bck-cwr {
    -webkit-animation: rotate-in-2-bck-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--animation-time) both;
            animation: rotate-in-2-bck-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--animation-time) both;
  }
  
  @-webkit-keyframes rotate-in-2-bck-cwr {
    0% {
      -webkit-transform: translateZ(200px) rotate(-45deg);
              transform: translateZ(200px) rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-bck-cwr {
    0% {
      -webkit-transform: translateZ(200px) rotate(-45deg);
              transform: translateZ(200px) rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }

  /* all cases foot animation */

  .rotate-in-2-bck-cw {
    -webkit-animation: rotate-in-2-bck-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: rotate-in-2-bck-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes rotate-in-2-bck-cw {
    0% {
      -webkit-transform: translateZ(200px) rotate(-45deg);
              transform: translateZ(200px) rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-bck-cw {
    0% {
      -webkit-transform: translateZ(200px) rotate(-45deg);
              transform: translateZ(200px) rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }

/* loading animation */

.svgWrapper {
    /* position: fixed;
    top: 50%;
    left: calc(50% + 15rem);
    transform: translate(-50%, -50%); */
}
.svgWrapper svg {
    width: 60rem;
}
.svgWrapper .path {
    /* stroke: #7dc523; */
    fill: transparent;
    stroke-dasharray: 500;
    stroke-dashoffset: -500;
    animation: animate 5s forwards infinite;
}

@keyframes animate {
    100% {
        stroke-dashoffset: 500;
   }
}

/* Not Found Animation */
.rotate-scale-up-diag-2 {
	-webkit-animation: rotate-scale-up-diag-2 4s linear infinite alternate both;
	        animation: rotate-scale-up-diag-2 4s linear infinite alternate both;
}

@-webkit-keyframes rotate-scale-up-diag-2 {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
              transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(2) rotate3d(-1, 1, 0, 180deg);
              transform: scale(2) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
              transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }
  @keyframes rotate-scale-up-diag-2 {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
              transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(2) rotate3d(-1, 1, 0, 180deg);
              transform: scale(2) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
              transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }

  /* 404 animation */
  .blink-2 {
	-webkit-animation: blink-2 4s infinite alternate both;
	        animation: blink-2 4s infinite alternate both;
}

@-webkit-keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  
/* Counting Animation - need fix */

@property --percent {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --temp {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --v1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --v2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.values {
  /* font: 800 40px monospace;
  padding: 2rem; */
  transition: --percent 1s;
  --temp: calc(var(--percent) * 100);
  --v1: max(var(--temp) - 0.5, 0);
  --v2: max((var(--temp) - var(--v1)) * 100 - 0.5, 0);
  counter-reset: v1 var(--v1) v2 var(--v2);
}
.values::before {
  content: counter(v1) "." counter(v2, decimal-leading-zero) "%";
}

  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @property --my-css-var {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
    .values {
      animation: counter 5s;
    counter-reset: num var(--num);
    }
  
    .values::after {
      content: counter(num);
    }
    
    @keyframes counter {
    from {
      --num: var(--my-css-var);
    }
    to {
      --num: 200;
    }
  }

  /* .values::before {
    content: counter(--countCounties);
  }
   */

   /* .values::after {
    content: counter(num);
  }
  .values:hover {
    --countCounties: 100;
  } */

  /* remove icon pcalendar */
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    /* position: absolute;
    left: 0; */
  }

/* entrace footButtons */

.roll-in-left {
	-webkit-animation: roll-in-left 1.2s ease-out both;
	        animation: roll-in-left 1.2s ease-out both;
}
  
@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  /* text animation footMessage */

  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

/* ghost animation */

.vibrate-1 {
	-webkit-animation: vibrate-1 3s ease-out infinite both;
	        animation: vibrate-1 3s ease-out infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/* celebration animation */

.bounce-in-top {
	-webkit-animation: bounce-in-top 6s cubic-bezier(0.950, 0.050, 0.795, 0.035) infinite alternate ;
	        animation: bounce-in-top 6s cubic-bezier(0.950, 0.050, 0.795, 0.035) infinite alternate ;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  19% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  27% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  36% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  48% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  65% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  72% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  74% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  75% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  77% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  82% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  85% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  19% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  27% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  36% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  48% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  65% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  72% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  74% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  75% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  77% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  82% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  85% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/* Accordion Styles */
.accordion {
  border-color: transparent !important;
  border-width: 0 !important;
}


.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='limegreen'><path%20fill-rule='evenodd'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='limegreen'><path%20fill-rule='evenodd'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-item {
  border: none !important;
}