@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS mine */

.invisibleScroll {
    scrollbar-width: none;
}

.invisibleScroll::-webkit-scrollbar {
    display: none;
}

.popover-arrow {
    display: none !important;
}

.tooltip-clean {
    position: fixed;
    top: 0;
    right: 0;
}

.tooltip-clean .tooltip-arrow {
    display: none !important;
}

.tooltip-clean .tooltip-inner {
    background-color: transparent !important;
}

.bs-popover-end {
    background-color: transparent !important;
    border-color: transparent !important;
}

@media screen and (max-width: 640px) {
    .sideBar {
        flex-direction: row;
    }
}

@media screen and (max-width: 640px) {
    .pageBase {
        flex-direction: column;
    }
}

/* animations */